<% wrap_layout :layout do %>
	<div class="row"><!-- center -->
		<div class="col-md-3 leftpanel">
			<% if current_page.data.ads != nil %>
				<% current_page.data.ads.each do |ad| %>
					<%= ad %>
				<% end %>
				<br>
				<br>
			<% end %>

			<!--
			<div class="ads">
			</div>
			-->

			<b>Contact</b><br>
			<a href="mailto:wojciech@koszek.com"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;wojciech@koszek.com</a>
			<br>

			<a href="http://twitter.com/wkoszek/"><i class="fa fa-twitter"></i>&nbsp;&nbsp;@wkoszek</a>
			<br>

			<a href="http://www.linkedin.com/in/wkoszek/"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
			<br>

			<a href="http://github.com/wkoszek/"><i class="fa fa-github"></i>&nbsp;&nbsp;Github</a>
			<br>

			<br>
			<b>Tags</b>
			<br>
			<% blog.tags.each do |tag, articles| %>
				<%= link_to "#{tag} (#{articles.size})", tag_path(tag) %><br>
			<% end %>
		</div>
		<div class="col-md-7 content">
			<% if current_page.data.tags != nil %>
				<article>
					<span class="date"><%= current_page.date.strftime('%b %e, %Y') %></span>
					<br>
					<% current_page.tags.each do |tag| %>
						<!-- <span><%= link_to tag, tag_path(tag) %></span> -->
					<% end %>
					<span class="title"><%= current_page.title %></span>
					<br>
					<i>by Wojciech Adam Koszek</i>
					&nbsp;
					•
					&nbsp;
					<a href="#share">Share <i class="fa fa-share-alt"></i></a></i>
					<br>
					<br>
					<p>
						<%= yield %>
					</p>
				</article>
			<% else %>
				<%= yield %>
			<% end %>
		</div>

		<div class="col-md-2">
		</div>
	</div><!-- content -->
<% end %>
