<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
		<meta name="author" content="Wojciech Adam Koszek">
		<meta name="description" content="Wojciech Adam Koszek website and blog">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="p:domain_verify" content="35dedfd4f697e6e974b0ae6631ca7351"/>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="/css/charter/webfonts/stylesheet.css">

		<link rel="stylesheet" href="/css/debug.css">

		<link rel="stylesheet" href="/css/code.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<link rel="icon" type="image/png" href="/img/favicon.ico">
		<title>Wojciech Koszek<%= ' - ' + current_article.title unless current_article.nil? %></title>
		<%= feed_tag :atom, "/feed.xml", title: "Atom Feed" %>
	</head>
	<body>
	<div class="container">
		<div class="hidden-sm hidden-xs row">
			<div id="debug">
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>

				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>

				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-1">&nbsp;</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 logo">
				<a href="/">Wojciech Adam Koszek</a>
			</div>
			<div class="col-md-9 links hidden-sm hidden-xs">
				<% is_rd = 1 if current_page.url == "/reading/" %>
				<% is_rd = 1 if current_page.data.tags != nil and current_page.data.tags.include?("books") %>
				<% is_wr = 1 if current_page.url == "/" %>
				<% is_wr = 1 if current_page.data.tags != nil and current_page.data.tags.include?("article") %>

				<a class="<%= is_wr ? "ac" : "in" %>" href="/">Blog</a>
				<a class="<%= is_rd ? "ac" : "in" %>" href="/reading/">Reading</a>
				<!-- <a class="<%= current_page.url == "/speaking/" ? "ac" : "in" %>" href="/speaking/">Speaking</a> -->
				<a class="<%= current_page.url == "/software/" ? "ac" : "in" %>" href="/software/">Software</a>
				<a class="<%= current_page.url == "/papers/" ? "ac" : "in" %>" href="/papers/">Papers</a>
				<a class="<%= current_page.url == "/about/" ? "ac" : "in" %>" href="/about/">About me</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 hidden-sm hidden-xs">
				<br>
				<br>
			</div>
		</div>

		<%= yield %>

		<div class="row">
			<div class="col-md-12 footer">
				<i>&copy; 2015 Wojciech Adam Koszek (<a href="http://www.twitter.com/wkoszek/">@wkoszek</a>)</i>
			</div>
		</div>
	</div><!--container-->
</body>
</html>
