<!doctype html>
<% if false then %>
    <!-- vim:set tw=1000: -->
<% end %>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
        <meta name="author" content="Wojciech Adam Koszek">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="p:domain_verify" content="35dedfd4f697e6e974b0ae6631ca7351"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" media="none" onload="if(media!='all')media='all'" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" media="none" onload="if(media!='all')media='all'" href="/css/1406-fonts.css">
        <link rel="stylesheet" media="none" onload="if(media!='all')media='all'" href="/css/debug.css">
        <link rel="stylesheet" media="none" onload="if(media!='all')media='all'" href="/css/code.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-git.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <%= partial "googlestats" %>
        <%= partial "search" %>

        <link rel="icon" type="image/png" href="/img/favicon.ico">

        <title>Wojciech Adam Koszek | <%= current_page.data.title  %></title>
        <meta name="description" content="Wojciech Adam Koszek | <%= current_page.data.description %>" />

        <meta property="og:title" content="<%= current_page.data.title %> | Wojciech Adam Koszek" />
        <meta property="og:description" content="<%= current_page.data.description %>" />

	<% if current_page.data.image %>
		<meta property="og:image" content="<%= current_page.data.image %>" />
	<% end %>


        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@<%= data.site.twitter %>" />
        <meta name="twitter:creator" content="@<%= data.site.twitter %>" />

        <meta property="og:type" content="article" />
        <meta property="article:author" content="https://www.koszek.com/about" />
        <meta property="article:publisher" content="https://www.koszek.com/" />

        <%= feed_tag :atom, "/feed.xml", title: "Atom Feed" %>

    </head>
    <body>
    <div class="container">

        <div class="row noprint"><!-- Header -->
            <div class="col-md-3 logo">
                <a href="/">Wojciech Adam Koszek</a>
            </div>
            <div class="col-md-9 links hidden-sm hidden-xs"><!-- Desktop menu -->
                <a class="in" id="blog" href="/">Blog</a>
                <a class="in" id="reading" href="/reading/">Reading</a>
                <a class="in" id="papers" href="/papers/">Papers</a>
                <a class="in" id="about" href="/about/">About me</a>
                <input type="text" class="st-default-search-input">
            </div>
        </div>
        <div class="row noprint"><!-- Header -->
            <hr/>
        </div>
        <div class="row hidden-md hidden-lg links noprint"><!-- Mobile menu, 1st row -->
            <div class="col-xs-4">
                <br>
                <a class="in" href="/">Blog</a>
            </div>
            <div class="col-xs-4">
                <br>
                <a class="in" href="/reading/">Reading</a>
            </div>
            <div class="col-xs-4">
                <br>
                <!-- empty -->
            </div>
        </div>
        <div class="row hidden-md hidden-lg links noprint"><!-- Mobile menu, 2nd row -->
            <div class="col-xs-4">
                <br>
                <a class="in" href="/papers/">Papers</a>
            </div>
            <div class="col-xs-4">
                <br>
                <a class="in" href="/about/">About</a>
            </div>
            <div class="col-xs-4">
                <br>
                <a class="hidden-lg hidden-md" href="#notes">Notes</a>
            </div>
        </div>
        <div class="row hidden-md hidden-lg links text-center noprint"><!-- Search -->
            <br>
            <input type="text" class="st-default-search-input">
        </div>

        <div class="row"><!-- center -->
        	<!--
                <div class="col-md-1 leftpanel hidden-xs hidden-sm">
                </div>
        	-->
    
            <div class="col-md-7 content">
                <% if current_page.data.tags != nil %>
                    <article>
                        <h1 class="title"><%= current_page.title %></h1>
                        <i>by <%= current_page.data.author %></i>
                        &nbsp;&nbsp;&sdot;&nbsp;&nbsp;
                        <i><%= current_page.date.strftime('%b %e, %Y') %></i>
                        &nbsp;&nbsp;&sdot;&nbsp;&nbsp;
                        <i><%= current_page.data.address %></i>
                        <br />
                        <br />
                        <b><%= current_page.data.description %></b>
                        <br />
                        <div class="social noprint">
                        <%= partial "_share" %>
                        </div>
                        <div class="article_body">
                            <%= yield %>
                        </div>
                    </article>
    
                    <% pages = sitemap.resources.find_all{|p| p.source_file.match(/.*book.*\.md$/)} %>
                    <% prev_page = nil %>
                    <% next_page = nil %>
                    <% pages.each_with_index do |p, index| %>
                        <% if p.url == current_page.url %>
                            <% next_page = pages[index+1]  %>
                            <% prev_page = pages[index-1] %>
                        <% end %>
                    <% end %>
    
                    <div class="row noprint">
                        <br>
                        <div class="col-md-6 text-left">
                            <% unless prev_page %>
                            <% else %>
                                <i class="fa fa-arrow-left"></i>
                                <a href="<%= prev_page.url %>"><span>Previous</span></a>
                                <br>
                                &ldquo;<%= prev_page.data.title %>&rdquo;
                            <% end %>
                        </div>
                        <div class="col-md-6 text-right">
                            <% if next_page == nil %>
                            <% else %>
                                <a href="<%= next_page.url %>"><span>Next</span></a>
                                <i class="fa fa-arrow-right"></i>
                                <br>
                                &ldquo;<%= next_page.data.title %>&rdquo;
                            <% end %>
                        </div>
                    </div>

                    <span class="noprint">
                        <hr>
                        <h3>Subscribe for updates</h3>
                        <p>
                            <%= partial "mailchimp" %>
                        </p>

                        <hr>
                        <b>Liked it? Share it!</b>
                        <%= partial "_share" %>
			<!--
                        <hr>
                        <h3>You may also like:</h3>
                        <ul>
                        </ul>
			-->

                        <hr>
                        <%= partial "_article_footer" %>
                        <%= partial "_disqus" %>
                    </p>

                <% else %>
                    <%= yield %>
                <% end %>
            </div>

            <div class="col-md-1">
            </div>

            <div class="col-md-3 rightpanel noprint">
                <% if current_page.data.ads != nil %>
                    <% current_page.data.ads.each do |ad| %>
    		  <% if ad then %>
                        <%= ad %>
    		    <br>
    		    <br>
    		  <% end %>
                    <% end %>
                <% end %>
                <!-- <div class="ads"> </div> -->
    
                <br><h4>Subscribe for updates</h4><p><%= partial "mailchimp" %></p>
                <br><h4>RSS feed</h4><p><a href="http://www.koszek.com/feed.xml"><i class="fa fa-rss"></i>&nbsp;RSS</a></p>
                <h4>Contact</h4>
                <a href="mailto:wojciech@koszek.com">E-mail</a><br>
                <a href="http://twitter.com/wkoszek/">Twitter</a><br>
                <a href="http://www.linkedin.com/in/wkoszek/">LinkedIn</a><br>
                <a href="http://github.com/wkoszek/">Github</a><br>

                <br><h4>Tags</h4>
                <span class="tag">
		  <a href="/blog/tags/software-engineering">software engineering</a>
		</span>
		<br>
                <span class="tag">
		  <a href="/blog/tags/design">design</a>
		</span>
		<br>
                <span class="tag">
		  <a href="/blog/tags/tools">tools</a>
		</span>
		<br>
                <span class="tag">
		  <a href="/blog/tags/entrepreneurship">entrepreneurship</a>
		</span>
		<br>
                <span class="tag">
		  <a href="/blog/tags/productivity">productivity</a>
		</span>
		<br>
            </div>
        </div><!-- content -->

        <div class="row noprint">
            <div class="col-md-12 footer">
                <i>&copy;2012&emdash;2017 Wojciech Adam Koszek (<a href="http://www.twitter.com/wkoszek/">@wkoszek</a>)</i>
                <br>
                Visits so far: <%= partial "stats" %>
            </div>
        </div>
    </div><!--container-->
    <script type="text/javascript">
        var active_page_elem = document.getElementById('active_page_name')
        var active_page_name = (active_page_elem != null ? active_page_elem.textContent : "blog");
        var active_page_link = document.getElementById(active_page_name);
        active_page_link.className = "ac";
    </script>
</body>
</html>
